*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
.ne-section3-right{
   /* background-color: rgb(196, 140, 150);*/
    width: 57%;
   position: relative;
    
}
.ne-section3-right img{
  
  width: 100%;
  height: 100%;
  position: absolute;
    z-index: 2;
}
.ne-section3{
     width: 88%;
    
    background: #EDE9F2;
    
    display: flex;
    justify-content: space-between;
    padding: 7% 0 7% 5%;
    /*height: 667px;*/
    border-radius: 20px;
    margin: auto;
    margin-top: 64px;
}
.ne-coleglevel{
    width: 34%;
    height: 46px;
    color:#9C4DF4;
    font-family:"Metropolis", sans-serif;
    line-height: 20px;
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
    background: #E4E2F4;
    padding-top: 9px;

}
.ne-coleglevel p{
    margin-left: 20px;
}

.ne-container-left{
    width: 43%;
    /*height:65%;*/
    /*background-color: wheat;*/
}
.ne-covid{
    width: 100%;
    font-family:" Metropolis" ,sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
   height: 165px;
    color: var(--WritingColor);
    
}
.ne-section3p{
    font-family: "Metropolis" , sans-serif;
    text-align: justify;
    /*background: aliceblue;*/
    
    color: var( --LightWritingColor);

}
.ne-section3-but{
    width: 185px;
    height: 60px;
    border-radius: 10px;
    background: var(--Purple);
    border: transparent;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
}
.ne-star-lap-section3{
    height: 150px !important;
    width: 150px !important;
    z-index: 1 !important;
    margin-left: 9px !important;
}
.ne-html{
   margin-left: -5% !important;
   margin-top: 20% !important;
    height: 50px !important;
    width: 50px !important;
}
.ne-php{
    position: absolute;
    height: 50px !important;
    width: 50px !important;
    margin-left: 42% !important;
    margin-top: 15% !important;
}
.ne-coffe{
    position: absolute;
    height: 50px !important;
    width: 50px !important;
    margin-left: 55% !important;
}
@media (min-width: 576px)  and (max-width: 1300px){
    .ne-coleglevel{
        /*width:61%;*/
        width: 140px;
        height: 34px;
        padding-top:7px ;
        font-size: 15px;
    }
    .ne-covid{
        font-size: 30px;
        line-height: 33px;
        margin-top: 10px;
    }
    .ne-section3p{
        text-align: left;
        margin-top: 42px;
    }
    .ne-section3-but{
        height: 45px;
        width: 133px;
        font-size: 13px;
    }
}
@media (min-width: 300px)  and (max-width: 576px){
    .ne-section3{
        flex-direction: column;
        height: max-content;
        height: 730px;
        justify-content: start;
        gap: 15px;
    }
    .ne-container-left {
        width: 100%;
    }
    .ne-coleglevel {
        /*width: 61%;*/
        width: 168px;
    }
    .ne-covid {
        font-size: 32px;
        line-height: 37px;
        margin-top: 15px;
    }
    .ne-section3p {
        
        text-align: start;
    }
    .ne-section3-but {
        width: 166px;
        height: 47px;
        margin-top: 20px;
    }
    .ne-section3-right img {
        width: 100%;
        height: 228px;
        margin-top: 20px;
    }
    .ne-star-lap-section3{
        height: 100px !important;
        width: 100px !important;
    }

    
}